.adminView {
  width: 100vw;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
}

.sidebar {
  display: flex;
  position: sticky;
  top: 0;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  background: linear-gradient(
    90deg,
    rgb(45, 45, 46) 0%,
    rgba(223, 223, 226, 1) 10%,
    rgba(223, 223, 226, 1) 95%,
    rgba(174, 172, 181, 1) 100%
  );
  grid-area: sidebar;
}

.main {
  display: grid;
  grid-area: main;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
