.table th {
  white-space: nowrap; /* Prevents wrapping */
  cursor: pointer; /* Indicates the header is clickable */
  align-items: center; /* Vertically aligns the icon with the text */
}
.table {
  table-layout: fixed;
  width: 100%;
}
