body {
  background-image: url("https://www.wallpaperuse.com/wallp/25-256313_m.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.admin-page {
  width: 100vh;
  height: 100vh;
  padding: 3rem;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.2),
    0px 0px 100px 0px rgba(0, 0, 0, 0.2);
}
/* test */
